body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

.loader,
.error {
  display: none;
  color: red;
}

.breed-select {
  display: flex;
  margin: 20px;
  padding: 10px;
}

.cat-info {
  display: none;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

img {
  width: 500px;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loader {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::after,
.loader::before {
  content: '';
  width: 96px;
  height: 96px;
  border: 2px solid #191717;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}

.loader::after {
  border-color: #ff3d00;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
